# General
.DS_Store
node_modules/
dist/
build/
.cache/
coverage/
*.log

# Env & secrets
.env
.env.*.local

# Cosign keys (security sensitive)
cosign.key
cosign.pub
*.key
*.pub

# Rust
target/

# Go
bin/

# Solana
.anchor/
keys/

# Docker
*.tar

# Editor/IDE
.idea/
.vscode/


